.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.h-container {
  margin: 50px;
}

.h-card {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
}

.h-img {
  height: 100px;
  width: 100px;
}

.h-img img {
  width: 100%;
  height: 100%;
}

.h-content {
  margin: 0 0 0 60px;
}

.h-content-vendedor {
  display: flex;
  margin: 0 0 0 60px;
}

.h-content-vendedor ul,
li {
  list-style: none;
}

.h-img-vendedor {
  margin: 0 0 0 50px;
  height: 50px;
  width: 50px;
  border-radius: 70%;
}

.h-img-vendedor img {
  height: 100%;
  width: 100%;
  border-radius: 70%;
}
