.u-container {
  margin: 30px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
}

.u-content {
  border: 1px solid #ddd;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.u-info {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  text-align: start;
  background: rgba(247, 247, 247, 0.637);
}

.u-info div {
  
}
